<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <%- include('templates/navbar', { active: 'home' }) %>
  <h1>Welcome to the Home Page</h1>
  <p><a href="/signup" class="btn btn-primary">Sign up</a></p>
  <p><a href="/login" class="btn btn-secondary">Log in</a></p>
  <%- include('templates/footer') %>
</body>
</html>
