<!-- _user.ejs -->
<li>
  Name: <%= user.name %>, Type: <%= user.userType === "admin" ? "Admin" : "User" %>
  <% if (user.userType === "admin") { %>
      <a href="/demote/<%= user._id %>" class="btn btn-sm btn-warning">Demote to User</a>
    <% } else { %>
      <a href="/promote/<%= user._id %>" class="btn btn-sm btn-success">Promote to Admin</a>
    <% } %>
</li>
